#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 1000;
    background-color: var(--black);
    border-right: 1px solid var(--black500);
}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #111;
}

#footer {
    text-align: center;
    padding: 20px 20px 20px 260px;
    background-color: #333;
}