body {
    background-color: var(--black);
    color: var(--white);
    font-family: "nanumSquareNeo";
}

//  각 섹션 공통 요소
section {
    padding: 40px;
    @media(max-width: 800px) {
        padding: 20px;
    }
}