@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-Light.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-Regular.woff") format("woff");
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-Regular.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-Bold.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-ExtraBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("../../fonts/nanumSquareNeo-Black.woff2") format("woff2"),
         url("../../fonts/nanumSquareNeo-Black.woff") format("woff");
    font-display: swap;
}
.nanumSquareNeo {
    font-family: "nanumSquareNeo";
}
.nanumSquareNeo300 {
    font-family: "nanumSquareNeo";
    font-weight: 300;
}
.nanumSquareNeo400 {
    font-family: "nanumSquareNeo";
    font-weight: 400;
}
.nanumSquareNeo700 {
    font-family: "nanumSquareNeo";
    font-weight: 700;
}
.nanumSquareNeo800 {
    font-family: "nanumSquareNeo";
    font-weight: 800;
}
.nanumSquareNeo900 {
    font-family: "nanumSquareNeo";
    font-weight: 900;
}

@font-face {
    font-family: "NetflixSans";
    font-weight: 300;
    font-style: normal;
    src: url("../../fonts/NetflixSans-Light.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "NetflixSans";
    font-weight: 400;
    font-style: normal;
    src: url("../../fonts/NetflixSans-Medium.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "NetflixSans";
    font-weight: 700;
    font-style: normal;
    src: url("../../fonts/NetflixSans-Regular.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "NetflixSans";
    font-weight: 800;
    font-style: normal;
    src: url("../../fonts/NetflixSans-Bold.woff2") format("woff2");
    font-display: swap;
}
.NetflixSans {
    font-family: "nanumSquareNeo";
}
.NetflixSans {
    font-family: "nanumSquareNeo";
    font-weight: 300;
}
.NetflixSans {
    font-family: "nanumSquareNeo";
    font-weight: 400;
}
.NetflixSans {
    font-family: "nanumSquareNeo";
    font-weight: 700;
}
.NetflixSans {
    font-family: "nanumSquareNeo";
    font-weight: 800;
}